{% extends "app/layout.html" %}
{% load static %}

{% block title %}Inquiry LLM{% endblock %}

{% block head %}
    <script src="{% static 'app/script.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>Inquiry LLM</h1>
    <h2>Learn through AI-powered insights that will enhance your understanding of any topic.</h2>

    <div class="prompt-div mx-auto col-10 col-md-8 col-lg-6">
        <form class="custom-form" id="inquiry-form" action="{% url 'generate' %}" method="POST">
            {% csrf_token %}

            <div class="row mb-3" style="margin-bottom: 15px !important">
                <textarea class="prompt-area form-control" rows="15" placeholder="Enter inquiry (e.g. what is wave-particle duality in quantum mechanics?)" name="body" id="inquiry-content"></textarea>
            </div>

            <div>
                <label class="col-sm-2 col-form-label" style="display: inline-block; text-align: center"><p>Number of insights: </p></label>

                <label class="radio-inline">
                    <input class="radio-input" type="radio" name="num-insights" value="1" checked>1
                </label>

                <label class="radio-inline">
                    <input class="radio-input" type="radio" value="2" name="num-insights">2
                </label>

                <label class="radio-inline">
                    <input class="radio-input" type="radio" value="3" name="num-insights">3
                </label>
            </div>

            <button type="submit" class="gen-button" style="width: 200px; height: 65px;"><b>Generate</b></button>
        </form>
    </div>
{% endblock %}